@import "../../../scss/vars";

.login-state{
  background: $brand-primary-alt;
}

#view-signup{
  padding: 100px 0;

  a{
    color: $main-background;
  }

  .signup-container{
    padding-bottom: 10px;
    color: $main-background;

    h1{
      margin-top: 0;
    }
    p{
      color: $brand-overlay;
    }

  }

  .logo-container{
    margin-bottom: 40px;
  }

  .form-control{
    margin-bottom: 5px;
  }

  .icon-container{
    position: relative;
    width: 100%;
    margin: 40px 0 20px 0;
  }

  .icon{
    position : absolute;
    top: -96px;
    left: 0%;
    right: 0%;
    max-width: 86px;
    margin: auto;
  }

}