.alt-avatar {
  background-position : center center;
  background-size     : cover;
  border              : 1px solid rgba(255, 255, 255, 0.5);
  border-radius       : 50%;
  display             : inline-block;
  height              : 1em;
  line-height         : normal;
  overflow            : hidden;
  width               : 1em;
}