<div id="view-feedback">
    <div class="feedback-header-container">
        <i class="fa fa-paper-plane-o fly-by"></i>
        <i class="fa fa-paper-plane-o fly-by"></i>
        <i class="fa fa-paper-plane-o fly-by"></i>
        <i class="fa fa-paper-plane-o fly-by"></i>
        <div class="feedback-header-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="message" ng-class="{'hide-message' : complete, 'show-message': !complete}">
                            <h3 >Tell us what you think</h3>
                            <p>We love hearing from our users. If you have a suggestion or run into a problem let us know.</p>
                        </div>
                        <div class="message" ng-class="{'hide-message' : !complete, 'show-message': complete}">
                            <h3 >Thanks {{user.name}},</h3>
                            <p>Your feedback is greatly appreciated. If we we need to follow up with you we'll be in touch soon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback-body-container" ng-class="{'hide-form' : complete}">
        <div class="container">
            <div class="row">
                <form ng-submit="sendFeedback()">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Your Feedback:</label>
                            <textarea
                                    rows="8"
                                class="form-control"
                                ng-model="feedback.comment"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Send Feedback</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>